<%= render "layouts/alertflash"  %>
<h1>Welcome to the Idea Factory</h1>
<h2>Idea Listings:</h2>

<% @ideas.each do |i|  %>
  <div class="container">
    <hr>
    <strong><%= link_to i.title, idea_path(i)  %></strong>
    <p><%= i.body  %></p>
    <table class="table table-striped table-bordered">
      <tr>
        <td>By <%= i.user.user_name  %></td>
        <td>
          <% if user_signed_in?  %>
            <% if i.user != current_user  %>
              <% if current_user.joined_ideas?(i)  %>
                <%= link_to "Joined", idea_member_path(i,i.joined_for(current_user)), 
                        method: :delete, class: "btn btn-primary"  %>
              <% else %>
                <%= link_to "Join", idea_members_path(i,@member), 
                        method: :post, class: "btn btn-primary"  %>
              <% end %>

              <% if current_user.liked_ideas?(i)  %>
                <%= link_to "Liked", idea_like_path(i,i.liked_for(current_user)), 
                        method: :delete, class: "btn btn-primary"  %>
              <% else %>
                <%= link_to "Like", idea_likes_path(i,@likes), 
                        method: :post, class: "btn btn-primary"  %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td>Members: <%= i.members.count  %></td>
        <td>Likes: <%= i.likes.count  %></td>
      </tr>
    </table>
  </div>
<% end  %>
